<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
<connectionStrings><add name="KostinaVDEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.35.187;initial catalog=KostinaVD;user id=KostinaVD;password=7988;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/><add name="KostinaVDEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.100.35.187;initial catalog=KostinaVD;user id=KostinaVD;password=7988;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/></connectionStrings></configuration>
